.container {
  margin: 50px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .characterImage {
    max-width: 200px;
  }

  .score,
  .timeRemaining,
  .label {
    margin: 10px auto;
  }

  .label {
    font-size: larger;
    font-weight: bold;
  }

  .button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 8px;
    margin: 2px;
  }
}
