.footer {
  background-color: #23262f;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  margin-top: 200px;

  .repo {
    height: 60px;
    margin-bottom: 30px;
    .repoAnchor {
      display: flex;
      align-items: center;
      height: 100%;
      img {
        height: 100%;
        margin-right: 10px;
      }
      font-size: large;
    }
  }
}
#socialLinks {
  img {
    margin: 0 20px;
    width: 50px;
  }
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
